<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.spa.cyclerunner</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/yuriikulieshov/miniconda3/bin/python3</string>
        <string>-m</string>
        <string>spa_core.paper_trading.cycle_runner</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/yuriikulieshov/Documents/SPA_Claude</string>
    <key>StartInterval</key>
    <integer>14400</integer>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/tmp/spa_cycle.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/spa_cycle_err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Users/yuriikulieshov</string>
        <key>PATH</key>
        <string>/Users/yuriikulieshov/miniconda3/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>SPA_ENV</key>
        <string>production</string>
    </dict>
</dict>
</plist>
