<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.spa.analytics_tier_b</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/yuriikulieshov/miniconda3/bin/python3</string>
        <string>-m</string>
        <string>spa_core.analytics.signal_aggregator</string>
        <string>--run</string>
        <string>--tier</string>
        <string>B</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/yuriikulieshov/Documents/SPA_Claude</string>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>StandardOutPath</key>
    <string>/tmp/spa_analytics_tier_b.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/spa_analytics_tier_b_err.log</string>
</dict>
</plist>
