<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/yuriikulieshov</string>
		<key>PATH</key>
		<string>/Users/yuriikulieshov/miniconda3/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>com.spa.cycle_gap_monitor</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/yuriikulieshov/Documents/SPA_Claude/scripts/agent_cycle_gap_monitor.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/spa_cycle_gap_monitor.launchd.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/spa_cycle_gap_monitor.launchd.out</string>
	<key>StartInterval</key>
	<integer>300</integer>
	<key>ThrottleInterval</key>
	<integer>60</integer>
	<key>WorkingDirectory</key>
	<string>/Users/yuriikulieshov/Documents/SPA_Claude</string>
</dict>
</plist>
