<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/yuriikulieshov</string>
		<key>PATH</key>
		<string>/Users/yuriikulieshov/miniconda3/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>SPA_ENV</key>
		<string>production</string>
	</dict>
	<key>Label</key>
	<string>com.spa.daily_cycle</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/yuriikulieshov/Documents/SPA_Claude/scripts/run_daily_paper_cycle.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/tmp/spa_daily_cycle.launchd.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/spa_daily_cycle.launchd.out</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>8</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
