<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/yuriikulieshov</string>
		<key>PATH</key>
		<string>/Users/yuriikulieshov/miniconda3/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>com.spa.tier1_governance</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/yuriikulieshov/Documents/SPA_Claude/scripts/run_tier1_governance.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/yuriikulieshov/Documents/SPA_Claude/logs/tier1_governance.err</string>
	<key>StandardOutPath</key>
	<string>/Users/yuriikulieshov/Documents/SPA_Claude/logs/tier1_governance.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>7</integer>
		<key>Minute</key>
		<integer>15</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/yuriikulieshov/Documents/SPA_Claude</string>
</dict>
</plist>
