<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/yuriikulieshov</string>
		<key>PATH</key>
		<string>/Users/yuriikulieshov/miniconda3/bin:/usr/local/bin:/usr/bin:/bin</string>
		<key>SPA_ENV</key>
		<string>production</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.spa.apiserver</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/yuriikulieshov/Documents/SPA_Claude/scripts/agent_apiserver.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/spa_apiserver.launchd.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/spa_apiserver.launchd.out</string>
	<key>WorkingDirectory</key>
	<string>/Users/yuriikulieshov/Documents/SPA_Claude</string>
</dict>
</plist>
