<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.spa.checkpoint-7day</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/yuriikulieshov/Documents/SPA_Claude/scripts/agent_checkpoint-7day.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/tmp/spa_checkpoint-7day.launchd.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/spa_checkpoint-7day.launchd.out</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Day</key>
		<integer>19</integer>
		<key>Hour</key>
		<integer>10</integer>
		<key>Minute</key>
		<integer>0</integer>
		<key>Month</key>
		<integer>6</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/yuriikulieshov/Documents/SPA_Claude</string>
</dict>
</plist>
