<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>SPA_RND_ARMED</key>
		<string>1</string>
	</dict>
	<key>Label</key>
	<string>com.spa.novel_edge_rnd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/yuriikulieshov/Documents/SPA_Claude/scripts/agent_novel_edge_rnd.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/tmp/spa_novel_edge_rnd.plist.err.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/spa_novel_edge_rnd.plist.out.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>4</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/yuriikulieshov/Documents/SPA_Claude</string>
</dict>
</plist>
